/*

(c) Copyright 2020 Riverside Rocks and TuckerDesk Authors
This code is under the Apache 2.0 License
See the "LICENSE" file for more details

*/

body{
    font-family: arial;
    text-align: center;
    background-color: #F5F5DC;
}

div.smaller{
    width: 40%;
}

div.info{
    width: 40%;
    background-color: #F5F5DC;
}

h3.error{
    color: red;
}

code{
    font-size: 18px;
}