/*

(c) Copyright 2020 Riverside Rocks and TuckerDesk Authors
This code is under the Apache 2.0 License
See the "LICENSE" file for more details

This is the CSS F

*/

body{
    font-family: arial;
    text-align: center;
    background-color: #F5F5DC;
}

div.smaller{
    width: 40%;
}

div.info{
    width: 40%;
    background-color: #F5F5DC;
}

h3.error{
    color: red;
}

code{
    font-size: 18px;
}

button,
input[type=submit]{
    font-family: arial;
    border: none;
    padding: 12px 18px;
    margin: 1px;
    background-color: #4e91e4;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover,
input[type=submit]:hover{
    background-color: black;
}

input[type=text]{
    width: 20%;
    height: 20px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid blue;
}

input[type=text]:hover{
    width: 20%;
    height: 20px;
    font-size: 14px;
    border: 1px solid;
    border-bottom: 1px solid blue;
}

input[type=password]{
    width: 20%;
    height: 20px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid black;
}

input[type=password]:hover{
    width: 20%;
    height: 20px;
    font-size: 14px;
    border: 1px solid;
    border-bottom: 1px solid black;
}